@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: #353535;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

@layer components {
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}